*{
    font-family: 'Zen Kaku Gothic Antique',sans-serif;
}
html, body { height: 100%; 
}
body {
    margin: 0;
    background-image: url(bg4.jpg);
    color: #fff;
    background-color: #020200;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    max-width: 100%;
}
#construction{
    padding-bottom: 450px;

}
.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
.navbar>.index {
    float: left;
    font-size: 18px;
}
.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

  
.navbar a:hover {
    color: #232a34;
    background-color:#ffffff;
    border-radius: 2px;
    transition: color 1.25s ease;
    
}
  
.navbar a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 2px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
}
#wrapper {
    min-height: 100%; 
}

.main-content {
    overflow: auto; 
    padding-bottom: 50px; 
    text-align: center;
    font-size: 22px;
}
#footer {
        position:fixed; margin-top: -150px; height: 150px; clear: both; }
.fa{
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    margin-right: 10px;
}
.fa-facebook,.fa-facebook:visited {
    background: #3B5998;
    color: white;
    text-decoration: none;
}
.fa-youtube,.fa-youtube:visited {  
    background: #bb0000;  
    color: white;  
}
.fa-github,.fa-github:visited{
    background: #050e26;  
    color: white;
}
.fa-instagram,.fa-instagram:visited{
    background: #c934ad;
    color: white;
}
.fa:hover, .fa:active{  
    opacity: 0.9;
    text-decoration: none;
    background-color: #ffffff;   
} 
.fa-facebook:hover, .fa-facebook:active{
    color:#3B5998;
    text-decoration: none;
}
.fa-youtube:hover,.fa-youtube:active{
    color:#bb0000;
    text-decoration: none;
}
.fa-github:hover,.fa-github:active{
    color:#050e26;
    text-decoration: none;
}
.fa-instagram:hover,.fa-instagram:active{
    color:#c934ad;
    text-decoration: none;
}

#slide{
    padding:0;
    margin: 0;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width:min-content;
    position: relative;
    animation-timing-function: linear;
}
h2{
    margin-bottom: 10px;
    top: 30px;
}

@keyframes slide {
    0%   { left: 520px; bottom: 40px;}
    100% { left:940px; bottom: 40px;}
}

#osu:hover,#osu:active{
    background-color: rgb(230, 110, 218);
    color: rgb(255, 255, 255) !important;
    transition: color 1s ease;
}
#valo:hover,#valo:active{
    background-color: rgb(228, 51, 75);
    color: rgb(255, 255, 255) !important;
    transition: color 1s ease;
    border-radius: 2px;
}

#rm:hover,#rm:active{
    background-color: gold;
    color: rgb(255, 255, 255) !important;
    transition: color 1s ease;
    border-radius: 2px;
}
#mclaren:hover,#mclaren:active{
    background-color: orange;
    color: rgb(255, 255, 255) !important;
    transition: color 1s ease;
    border-radius: 2px;
}
#name:hover{
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 180s linear infinite;
    cursor: pointer;
}

@keyframes move {
    to {
      background-position: 4500vh;
    }
}